@import "tailwindcss";
/* optionally any custom styles or component imports */

@layer utilities {
  
}

@layer components {
  .btn-primary {
    /*border-radius: calc(infinity * 1px);*/
    /*background-color: var(--color-violet-500);*/
    /*padding-inline: --spacing(5);*/
    /*padding-block: --spacing(2);*/
    /*font-weight: var(--font-weight-semibold);*/
    /*color: var(--color-white);*/
    /*box-shadow: var(--shadow-md);*/
    /*transition: all 200ms ease-out;*/
    @apply cursor-pointer bg-green-500 transition-all rounded-2xl py-2 px-12 text-white font-semibold;
    &:hover {
      @media (hover: hover) {
        /*background-color: var(--color-violet-700);*/
        @apply bg-green-600;
      }
    }
  }
  .btn-secondary {
    @apply cursor-pointer bg-slate-300 rounded-2xl py-2 px-12 text-black font-semibold;
  }
  .btn-back {
  	@apply w-10 h-10 bg-green-500 text-white rounded-full flex items-center justify-center cursor-pointer;
  }
  .btn-link {
    @apply underline text-blue-600;
  }
  .field {
  	@apply text-2xl border-b border-gray-400 py-2;
  }
  .card {
    @apply border border-slate-300 rounded-xl bg-white;
    figure { @apply h-24 min-w-40 my-2 text-center;
      img { @apply h-full mx-auto inline-block; }
    }
    .title { @apply font-semibold text-lg px-2; }
    p { @apply px-2; }
    .price { @apply font-bold text-xl; }
  }
}

body {
	background-color: rgba(0, 0, 0, 0.05);
}